{% extends 'base.html' %} {% block content %}
<h2>Configure Field Data Types</h2>
<form method="post" action="{{ url_for('generate') }}">
  <input type="hidden" name="filename" value="{{ filename }}" />
  <table>
    <tr>
      <th>Field Name</th>
      <th>Data Type</th>
    </tr>
    {% for field in fields %}
    <tr>
      <td>{{ field }}</td>
      <td>
        <select name="{{ field }}">
          <option value="random number">Random Number</option>
          <option value="boolean">Boolean</option>
          {% for method in allowed_data_types %}
          <option value="{{ method }}">{{ method|capitalize }}</option>
          {% endfor %}
        </select>
      </td>
    </tr>
    {% endfor %}
  </table>

  <div style="margin-top: 30px">
    <label style="margin-right: 15px">
      Number of Records:
      <input type="number" name="num_records" min="1" value="1" required />
    </label>

    <label style="margin-right: 15px">
      Export Type:
      <select name="export_type">
        <option value="csv">CSV</option>
        <option value="json">JSON</option>
        <option value="xml">XML</option>
        <option value="xlsx">XLSX</option>
      </select>
    </label>

    <label style="margin-right: 15px">
      <input type="checkbox" name="separate_files" value="true" />
      Export each record into a separate file?
    </label>

    <button type="submit">Generate Data</button>
  </div>
</form>
{% endblock %}
